/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;z
    background-color: #f0f0f0;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Шапка */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Секции */
.section {
    padding: 2rem 0;
    background-color: #e0e0e0;
    margin: 1rem 0;
    background: transparent;
}


#words {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
}

.section h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.wrap {
    background: linear-gradient(to bottom, #85B6FF, #0041A3);
}

/* Игроки */
.players-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.player {
    background-color: #d0d0d0;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
}

.player img {
    border-radius: 50%;
}

/* Матчи */
#matches ul {
    list-style: none;
    padding: 0;
}

#matches ul li {
    background-color: #d0d0d0;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 5px;
}

/* Контакты */
#contact {
    text-align: center;
}

/* Футер */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;

}
